{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice Details List:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Net Price</th>
            <th scope="col">Gross Price</th>
            <th scope="col">VAT %</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price</th>
        </tr>
        </thead>
        <tbody>
        {% for detailsInvoices in detailsInvoices %}
            <tr>
                <td>{{ detailsInvoices.nameProduct }}</td>
                <td>{{ detailsInvoices.priceNetto |round(2, 'floor')}}</td>
                <td>{{ detailsInvoices.priceBrutto |round( 2, 'floor')}}</td>
                <td>{{ detailsInvoices.vat }}</td>
                <td>{{ detailsInvoices.quantity |round(2, 'floor')}}</td>
                <td>{{ detailsInvoices.unitPrice |round(2, 'floor')}}</td>
            </tr>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h2>No invoice details to day!! Add New !! <i class="fas fa-smile-wink"></i></h2>
            </div>
        {% endfor %}
        </tbody>
        <tr style="font-size: large">
           <td><b>Total: </b></td>
           <td><b>{{ sumNettoPrice |round(2, 'floor')}}</b></td>
           <td><b>{{ sumBruttoPrice |round(2, 'floor')}} </b></td>
        </tr>
    </table>

    <a class="btn btn-secondary btn-info" role="button" href="{{ path('product_invoice_add', {'id': invoiceId.id}) }}" style="color: white">Add Product</a>
{% endblock %}
